<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="/logs"/>

    <include file="${user.dir}/shared-resources/logback/console_appender.xml"/>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include file="${user.dir}/shared-resources/logback/basic_rolling_appender.xml"/>
        <include file="${user.dir}/shared-resources/logback/error_rolling_appender.xml"/>

        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>
</configuration>